



.container {
    width: 900px;
    margin: auto;
}

img {
    float: left;
    padding: 0 30px 10px 0;
}

p {
    line-height: 40px;
}

h1 {
    color: lightseagreen;
    padding-top: 25px;
}

hr {
    padding-top: 20px;
}

.nav-link:active {
color: lightgrey;
}

a:link { color: rgb(103, 103, 105); }          /* Unvisited links */
a:visited { color: rgb(103, 103, 105); }     /* Visited links */
a:hover { background: yellow; }  /* Hovered links */
a:active { color: lightseagreen); }         /* Active links */

p:active { background: #eee; }   /* Active paragraphs */



span {
    background-color: lightseagreen;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;

}

span > h1 {
    color: white;
    height: 60px;



}

.navbar-brand.mb-0.h1 {
    color: white;
    font-family: 'IM Fell Great Primer SC', serif;

}

.bg-light {
    background-color: rgb(165, 163, 163)!important;
}

.btn.btn-primary.mb-2 {
    background-color: lightseagreen;
}

.title {
    background-color: lightseagreen;
    height: 50px;
    position: absolute;
    bottom: 25px;
    width: 400px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2 {
    color: white;
    font-family: 'IM Fell Great Primer SC', serif;
    text-align: center;
    top: 50%;

}